.area {
    margin-top: 24px;
    margin-bottom: 24px;
}

.img-container img {
    width: 100%;
}

/* input area */
button.button-add {
    border: 1px solid #38acec;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: #38acec;
    color: #fff;
 
}

#input-task {
    width: 100%;
    border: none;
}

.input-area {
    border: 1px solid #333;
    border-radius: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
}