.area {
    margin-top: 24px;
    margin-bottom: 24px;
}

.img-container img {
    width: 100%;
}

/* input area */
button.button-add {
    border: 1px solid #38acec;
    padding: 6px 12px;
    border-radius: 24px;
    background-color: #38acec;
    color: #fff;
 
}

#input-task {
    width: 100%;
    border: none;
}

#input-task:focus {
    border: none;
}

.input-area {
    border: 1px solid #333;
    border-radius: 36px;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* tasks */
.tasks-list {
    list-style: none;
    background-color: #f4f7f7;
    border-radius: 12px;
}

.tasks-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    font-size: 18px;
    margin: 0 24px;
    border-bottom: 1px solid #777;
}

.tasks-list li:first-child {
    margin-top: 12px;
}

.tasks-list li:last-child {
    margin-bottom: 12px;
}

.tasks-list li .closed {
    color: #e12120;
    cursor: pointer;
    margin: 0 6px;
}

.tasks-list li .menu {
    margin: 0 6px;
    color: #777;
    position: relative;
}

.text-list {
    padding: 6px;
    width: 80%;
    border-radius: 12px;
    margin-right: 6px;
}

.task-blue {
    color: #fff;
    background-color: #38acec;
}

.box {
    width: 30px;
    height: 30px;
    background-color: #e12120;
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 1;
}